.App {
  font-family: sans-serif;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.flex-container::-webkit-scrollbar {
  display: none;
}
